.wholecontent
{
width:1000px;
margin:0 auto;
border:3px solid #363636

}

.tit
{
margin-left:10px;
margin-top:25px;
font-size:20px;
}

.title
{
color:white;
    font-size: 28px
   display:block;
   margin-left:13px;
   margin-top:15px;
}

.nav
{
padding:25px;
}

.nav ol
{
background-color:black;
padding-top:10px;
padding-bottom:10px;

}

.nav ol li
{
display:inline;
list-style:none;
}

.nav ol li a
{
text-decoration:none;
text-transform:uppercase;
color:white;
font-size:25px;
padding-top:15px;
padding-bottom:15px;
padding-right:20px;
}



.content
{
background-color:white;
}


.ima li
{
background-color:grey;
padding:3px;
}

.ima li img
 {
	padding:0px;
 }


.content img
{
width:960px;
height:360px;
padding-left:25px;
padding-top:25px;

}

.container{
background-color:white;
}


p
{
width:955px;
margin-left:24px;
text-align:center;
background-color:grey;
padding:5px;
margin-bottom:15px;
}



.gallery
{
margin-left:20px;
text-transform:uppercase;
margin-top:30px;
}



.gallery ol li
{
display:inline-block;
width:215px;
height:315px;
margin:bottom:20px;
}




.gallery ol li img
{
height:315px;
width:215px;
}


.caption
{
text-align:center;
clear:both;
margin-left:65px;
background-color:grey;
margin-bottom:15px;
}



.footer
{
background-color:black;
color:white;
overflow:hidden;
}

.copyright
{
float:left;
padding:15px 35px 10px 25px;
}

.layout
{
float:right;
padding:20px;
}



.images{
  width: 960px;
  margin: 0 auto;
}

.images ul {

    width:960px;
    padding: 0;

}

.images ul li
{
  list-style: none;
  display: inline-block;
  padding-right:22px;
}


.images ul li img
{

  height: 315px;
  width: 215px;
}

.linedraw{
  width: 960px;
  margin: 0 auto;
}

.images ul li span{
  display: block;
  text-align: center;
}
